@import '~bootstrap/scss/bootstrap';

.card{
    min-height: 500px;
}

header,footer{
    height: 10vh;
}
main{
    height: calc(100vh - 20vh);
    overflow-y: auto;
    
}

.left-arrow{
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 50%;
    padding: 1rem;
    padding-bottom: 1.3rem;
    transition: 1s;
    &:hover{
        background-color: black;
        color: white !important;
    }

}


